.hidden.menu {
    display: none
}

.masthead.segment {
    min-height: 300px;
    padding: 1em 0
}

.masthead .logo.item img {
    margin-right: 1em
}

.masthead .ui.menu .ui.button {
    margin-left: .5em
}

.masthead h1.ui.header {
    margin-top: .7em;
    margin-bottom: 0;
    font-size: 4em;
    font-weight: normal
}

.masthead h2 {
    font-size: 1.7em;
    font-weight: normal
}

.ui.vertical.stripe {
    padding: 8em 0
}

.ui.vertical.stripe h3 {
    font-size: 2em
}

.ui.vertical.stripe .button+h3,
.ui.vertical.stripe p+h3 {
    margin-top: 3em
}

.ui.vertical.stripe .floated.image {
    clear: both
}

.ui.vertical.stripe p {
    font-size: 1.33em
}

.ui.vertical.stripe .horizontal.divider {
    margin: 3em 0
}

.quote.stripe.segment {
    padding: 0
}

.quote.stripe.segment .grid .column {
    padding-top: 5em;
    padding-bottom: 5em
}

.footer.segment {
    padding: 5em 0
}

.secondary.pointing.menu .toc.item {
    display: none
}

.item-block {
    text-align: center;
    padding: 12px;
    border-radius: 8px
}

.item-block:hover {
    background-color: lightgrey;
    cursor: pointer
}

.container-email {
    text-align: center;
    padding-top: 32px
}

.ui.vertical.stripe.segment.container-dongles {
    padding-top: 20px
}

@media only screen and (max-width:700px) {
    .ui.fixed.menu {
        display: none !important
    }
    .secondary.pointing.menu .item,
    .secondary.pointing.menu .menu {
        display: none
    }
    .secondary.pointing.menu .toc.item {
        display: block
    }
    .masthead.segment {
        min-height: 350px
    }
    .masthead h1.ui.header {
        font-size: 2em;
        margin-top: 1.5em
    }
    .masthead h2 {
        margin-top: .5em;
        font-size: 1.5em
    }
}

.email-us-row {
    margin-top: 32px;
    padding-left: 12px
}

ul.share-buttons {
    list-style: none;
    padding: 0
}

ul.share-buttons li {
    display: inline
}

ul.share-buttons .sr-only {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden
}